<div class="container">
	<!--Navbar-->
   <%= render 'layouts/landingNavbarStudents'%>
    <!--End Navbar-->
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<h2>Student Sign In</h2>
				<hr class="colorgraph">
				<div class="form-group">
				<%= form_for(:session, url:sessions_path) do |f| %>
					<%= f.label :email, "Email", :class => "sr-only" %>
                	<%= f.text_field :email, :placeholder => "Email address", :class => "form-control" %>
				
					<div class="form-group">
                    	<%= f.label :password, "Password", :class => "sr-only" %>
                    	<%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
                	</div>
                	
					<span class="button-checkbox">
						<button type="button" class="btn" data-color="info">Remember Me</button>
                    	<input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
  						<%= link_to "Forgot Password?", "#", :class => "btn btn-link pull-right" %>	
					</span>
					<hr>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
                        	<%= f.submit "Sign in", class: "btn btn-lg btn-success btn-block" %>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<%= link_to "Register", student_signup_path, :class => "btn btn-lg btn-primary btn-block" %>
						</div>
					</div>
				</div>
				<%end%>
	</div>
</div>
</div>

