<%provide(:title, 'Sign up')%>
   <%= render 'layouts/landingNavbarStudents'%>


<h1>Student Signup</h1>
<%= render 'shared/error_messages' %>

<div class ="row">
	<div class="col-md-6">
		<h4>Basic Information</h4>
		<div class="form-group">
			<%= form_for(@student, :html => {:class => "form-horizontal"}) do |f| %>

			<%=f.label :fname, "First Name", :class => "control-label" %>
			<%=f.text_field :fname, :placeholder => "First Name", :class => "form-control input-md"%>

			<%=f.label :lname, "Last Name", :class => "control-label" %>
			<%=f.text_field :lname, :placeholder => "Last Name", :class => "form-control input-md"%>

			<%=f.label :school, "School", :class => "control-label" %>
			<%=f.text_field :school, :placeholder => "School", :class => "form-control input-md"%>

			<%=f.label :discipline, "Discipline", :class => "control-label" %>
			<%=f.text_field :discipline, :placeholder => "EngSci/ECE/CHE etc.", :class => "form-control input-md"%>

			<%=f.label :year, "Year", :class => "control-label" %>
			<%=f.text_field :year, :placeholder => "1/2/3/4/New Grad", :class => "form-control input-md"%>

		</div>
	</div>

	<div class="col-md-6">
		<h4>Account Information</h4>

			<%=f.label :email, "Email", :class => "control-label" %>
			<%=f.text_field :email, :placeholder => "Email", :class => "form-control input-md"%>

			<%=f.label :password, "Password", :class => "control-label" %>
			<%=f.password_field :password, :placeholder => "Password", :class => "form-control input-md"%>

			<%=f.label :password_confirmation, "Password Confirmation", :class => "control-label" %>
			<%=f.password_field :password_confirmation, :placeholder => "Confim Password", :class => "form-control input-md"%>

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			<%end%>
	</div>
</div>


