    <a id="menu-toggle" href="#" class="btn btn-danger btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">Interngration</li>
        <li><%= link_to "Upcoming Webinars", '#' %></li>
        <li><%= link_to "My Registered Webinars", '#' %></li>
        <li><%= link_to "Watched Webinars", '#' %></li>
        <li><%= link_to "Recorded Webinars", '#' %></li>
        <li><%= link_to "Jobs Board", '#' %></li>
        <li><%= link_to "My Applied Jobs", '#' %></li>
      </ul>
    </div>