<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
      <!--Navbar-->
       <%= render 'layouts/navbarStudents'%>
      <!-- Side Menu -->
      <%= render 'layouts/sidebarStudents'%>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!--js for the sidebar-->
      <script type="text/javascript"> sideBar(); </script>
      <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
